{% extends "base.html" %}
{% block title %}添加函数{% endblock %}
{% block content %}


       
    


 <div class="row" style="margin-top:35px">
 <div class="span4 offset1" >
 
        <div class="row">
     <div class="span2" >
     <h4> <p class="text-info">添加函数</p></h4>
     </div>
     <div class="span2" style="margin-left:20px;">
     <h6><a href="/addfunct/show_funcall/" >我添加的函数>></a></h6>
     </div>
     </div>


<form method="POST" action="">
<table>
{{af.as_table}}

</table>
<div class="span4">
  模块：<select name="module">
    {% for i in modules %}
    <option>{{i}}</option>
    {%endfor%}
     </select><br />
     </div>
<input type="submit" value="提交" class="btn btn-success" style="margin-left:60px;">
</form>
</div>

 
<div class="span5" style="margin-left:150px;">
  
  
   
    <h4> <p class="text-info">最新更新的函数</p></h4>
  
      
     <div class="row" style="margin-left:5px;"> 
      <table class="table table-hover" style="width:300px;">
         <tr><th>函数名</th><th>函数说明</th><th>贡献人</th></tr>      
      
          {%for funct in functs%}         
         <tr>
         <td><a href="/search/disp/?id={{funct.id}}" >{{funct.name}}</td>
         <td><abbr title="{{funct.intro}}" class="text-info">{{funct.intro|truncatechars:9}}</abbr></td>            
         <td>{{funct.user.username}}</td>
         
         </tr>
      
   
         {%endfor%}
   
      </table>
      
      

  <div class="row">
        <div class="pagination pagination-centered">
          <ul>
                        
           {% if functs.has_previous %}
            <li class="active"><a href="/addfunct/func_add/?page={{ functs.previous_page_number }}"><<</a></li>
            {% else %}
            <li class="disabled"><a ><<</a></li>
            {% endif %}
            
            {% for i in f_list %}
              {% if i == funts.number %}
            <li class="disabled"><a >{{i}}</a></li>
               {% else %}    
            <li class="active"><a href="/addfunct/func_add/?page={{i}}">{{i}}</a></li>
               {% endif %} 
              {% endfor %}
            {% if functs.has_next %}      
            <li class="active"><a href="/addfunct/func_add/?page={{ functs.next_page_number }}">>></a></li>
               {% else%}    
           <li class="disabled"><a >>></a></li>
               {% endif %}   
          </ul>
        </div>
      </div>












     






















{%endblock%}